 body {
  min-height: 100vh;
  margin: 0;
  background: no-repeat fixed url(img/logo1.png);
  background-size: cover;
}
 .wrapper {
   margin: 0 0 0 148px
}
 .header {
   margin: 0 80px 0 0;
   padding-top: 50px;
   display: flex;
   justify-content: space-between;
}
 .logo {
   background: url(img/logo.png);
   background-size: contain;
   margin-top: 35px;
   margin-left: 47px;
   width: 155px;
   height: 98px;
   background-repeat: no-repeat;
}
 .menu {
  display: flex;
  align-items: center;
}
 .menu__item {
  margin-right: 38px;
  font: 22px/26px museo_sans_cyrl500, arial, helvetica, sans-serif;
  color: #f8eee4;
  text-decoration: none;
  transition: opacity 0.5s;
  cursor: pointer;
}
 .menu__item:hover:after,.menu__item_activ:after {
   position: relative;
   left: 0;
   display: block;
   content: '';
   width: 100%;
   height: 3px;
   background: #0056EC;	
   opacity: 1;
   width: 100%;	
}
 .main {
}
 .information {
   display: flex;
}
 .main__title {
  position: relative;
  font: 280px/342px pt_serifbold, arial, helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.4);
  margin: 109px 0 0 50px;
}
 .main__title::after {
   content: 'Indonesia';
   position: absolute;
   bottom: -1px;
   right: 181px;
   color: rgba(255, 255, 255);
   font: 98px/130px pt_serifbold, arial, helvetica, sans-serif;
}
 .main__description {
   width: 71%;
   padding-bottom: 13px;
   margin-left: 72px;
   font: 22px/26px museo_sans_cyrl500, arial, helvetica, sans-serif;
   color: #F8EEE4;
}
 .main__button {
  display: flex;
  font: 22px/26px museo_sans_cyrl500, arial, helvetica, sans-serif;
  margin-left: 76px;
  color: #fff;
  background: #D4BEA3;
  text-decoration: none;
  border-radius: 48px;
  width: 292px;
  height: 62px;
  align-items: center;
  text-align: center;
  justify-content: center;
}
 .main__button:hover {
   opacity: .5;
}
 .img {
   width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 186px;
}

 .img__picture:nth-child(1) {
  width: 319px;
  height: 421px;
  background-image: url("./img/logo2.png");

}

 .img__picture:nth-child(2) {
  width: 286px;
  height: 381px;
  margin-left: 33px;
  background-image: url("./img/logo3.png");

}
 
 .img__picture:nth-child(3) {
  width: 207px;
  height: 380px;
  margin-left: 32px;
  background-image: url("./img/logo4.png");

}
 .img__picture {
   width: 200px;
   height: 270px;
   background-repeat: no-repeat;
   background-size: cover;
}

  #menu__toggle {
   opacity: 0;
 }

 .menu__box {
   display: none
 }

@media (max-width: 1837px) {
 .main__title::after {
   right: 165px;
}
@media (max-width: 1776px) {
 .main__description {
   width: 74%;
}
@media (max-width: 1765px) {
 .main__title::after {
   right: 137px;
}
@media (max-width: 1746px) {
 .main__description {
   width: 76%;
}
@media (max-width: 1730px) {
  .main__title::after {
   right: 103px;
}
 .main__description {
   width: 78%;
}
@media (max-width: 1709px) {

@media (max-width: 1367px) {
  .wrapper {
   margin: 0 0 0 96px
}	
 .header {
   margin: 0 52px 0 0;
   padding-top: 52px;
}
  .logo {
   margin-top: 12px;
   margin-left: 44px;
   width: 105px;
   height: 48px;
} 
 .menu__item {
  margin-right: 27px;
  font: 16px/26px museo_sans_cyrl500, arial, helvetica, sans-serif;
}
 .main__title {
  font: 200px/220px pt_serifbold, arial, helvetica, sans-serif;
  margin: 114px 0 0 46px;
}
 .main__title::after {
   bottom: 5px;
   right: 132px;
   font: 70px/70px pt_serifbold, arial, helvetica, sans-serif;
}
  .main__description {
   padding-bottom: 9px;
   margin-left: 61px;
   font: 16px/20px museo_sans_cyrl500, arial, helvetica, sans-serif;
   width: 71%;
}
 .main__button {
  font: 16px/15px museo_sans_cyrl500, arial, helvetica, sans-serif;
  margin-left: 61px;
  width: 210px;
  height: 45px;
}
 .img {
   padding-top: 149px;
}
 .img__picture:nth-child(1) {
  width: 225px;
  height: 300px;
}
 .img__picture:nth-child(2) {
  width: 203px;
  height: 269px;
  margin-left: 24px;
}
 .img__picture:nth-child(3) {
  width: 148px;
  height: 271px;
  margin-left: 24px;
}
@media (max-width: 1025px) {
  .wrapper {
   margin: 0 0 0 -4px
}	
 .header {
   margin: 0 8px 0 0;
   padding-top: 55px;
}
  .logo {
   margin-top: 8px;
   margin-left: 46px;
   width: 99px;
   height: 47px;
} 
 .main__title {
  font: 201px/154px pt_serifbold, arial, helvetica, sans-serif;
  margin: 146px 0 0 44px;
}
 .main__title::after {
   bottom: -33px;
   right: 78px;
}
  .main__description {
   width: 78%;
   padding-bottom: 51px;
   margin-top: 56px;
   margin-left: 60px;
   font: 16px/20px museo_sans_cyrl500, arial, helvetica, sans-serif;
}
 .main__button {
   margin-top: -43px;
   width: 209px;
   height: 43px;
}
 .img {
   padding-top: 155px;
}
 .img__picture:nth-child(1) {
  width: 225px;
  height: 301px;
}
 .img__picture:nth-child(2) {
  width: 204px;
  height: 269px;
  margin-left: 24px;
}
 .img__picture:nth-child(3) {
  width: 37px;
  height: 273px;
  margin-left: 23px;
}

 

@media (max-width: 768px) {
 .hamburger-menu {
   display: block;
}
 .menu {
     display: none;
}
 body {
  min-height: 100vh;
  margin: 0;
  background: no-repeat fixed url(img/logo1.1.png);
  background-size: cover;
}
 .wrapper {
   margin: 0 0 0 -6px;
}
 .header {
   margin: 4px 114px 0 20px;
   padding-top: 89px;
 }
  .logo {
    margin-top: -8px;
    margin-left: 70px;
    width: 206px;
    height: 83px;
}
 .menu__btn {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 104.5px;
   width: 51px;
   height: 49px;
   cursor: pointer;
   z-index: 2;
}
 .menu__btn > span,
 .menu__btn > span::before,
 .menu__btn > span::after {
   display: block;
   position: absolute;
   width: 100%;
   height: 5px;
   background-color: #f8eee4;
}
 .menu__btn > span::before {
   content: '';
   top: -15px;
}
 .menu__btn > span::after {
   content: '';
   top: 17px;
}
 .menu__box {
   display: block;
   position: fixed;
   top: -85px;
   left: -100%;
   width: 100%;
   height: 100%;
   margin: -15px;
   padding: 399px 19px;
   list-style: none;
   text-align: center;
   background-color: #fff;
   box-shadow: 1px 0 6px rgba(0, 0, 0, .2);
   z-index: 1;
}
 .menu__item {
   display: block;
   padding: 88px 0 0 9px;
   color: #333;
   font: 900 56px/34px museo_sans_cyrl500, sans-serif;
   letter-spacing: 3px;
   text-decoration: none;
}
 #menu__toggle:checked ~ .menu__btn > span {
   transform: rotate(45deg);
}
 #menu__toggle:checked ~ .menu__btn > span::before {
   top: 0;
   transform: rotate(0);
}
 #menu__toggle:checked ~ .menu__btn > span::after {
   top: 0;
   transform: rotate(90deg);
}
 #menu__toggle:checked ~ .menu__box {
   visibility: visible;
   left: 0;
}
 .img {
   display: none;
}
 .main__title {
   font: 335px/220px pt_serifbold, arial, helvetica, sans-serif;
   margin: 220px 0 0 42px;
}
 .main__title::after {
    bottom: -89px;
    right: 57px;
    font: 118px/87px pt_serifbold, arial, helvetica, sans-serif;
}
 .main__description {
    width: 75%;
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 103px;
    margin-top: 200px;
    margin-left: 90px;
    font: 36px/42px museo_sans_cyrl500, arial, helvetica, sans-serif;
}
 .main__button {
    margin-top: -64px;
    width: 419px;
    height: 86px;
    font: 31px/16px museo_sans_cyrl500, arial, helvetica, sans-serif;
    margin-left: 158px;
}