 body {
  min-height: 100vh;
  margin: 0;
  background: no-repeat fixed url(img/logo1.png);
  background-size: cover;
}
 .wrapper {
   margin: 0 80px 0 148px
}
 .header {
   margin-top: 50px;
   display: flex;
   justify-content: space-between;
}
 .logo {
   background: url(img/logo.png);
   background-size: contain;
   margin-top: 35px;
   margin-left: 47px;
   width: 155px;
   height: 98px;
   background-repeat: no-repeat;
}
 .menu {
  display: flex;
  align-items: center;
}
 .menu__item {
  margin-right: 38px;
  font: 22px/26px museo_sans_cyrl500, arial, helvetica, sans-serif;
  color: #f8eee4;
  text-decoration: none;
  transition: opacity 0.5s;
  cursor: pointer;
}
 .menu__item:hover:after,.menu__item_activ:after {
   position: relative;
   left: 0;
   display: block;
   content: '';
   width: 100%;
   height: 3px;
   background: #0056EC;	
   opacity: 1;
   width: 100%;	
}
 .main {
}
 .information {
   display: flex;
}
 .main__title {
  position: relative;
  font: 280px/342px pt_serifbold, arial, helvetica, sans-serif;
  color: rgba(255, 255, 255, 0.4);
  margin: 109px 0 0 50px;
}
 .main__title::after {
   content: 'Indonesia';
   position: relative;
   margin: 0;
   bottom: -40px;
   right: 440px;
   color: rgba(255, 255, 255);
   font: 98px/130px pt_serifbold, arial, helvetica, sans-serif;
}
 .main__subtitle {
   display: none;
   position: absolute;
   font: 78px/130px pt_serifbold, arial, helvetica, sans-serif;
   margin: 0;
   bottom: 0px;
   right: 0px;
   color: rgba(255, 255, 255);
}
 .main__description {
  width: 52%;
  padding-bottom: 14px;
  margin-left: 70px;
  font: 22px/26px museo_sans_cyrl500, arial, helvetica, sans-serif;
  color: #F8EEE4;
}
 .main__button {
  display: inline-block;
  font: 22px/26px museo_sans_cyrl500, arial, helvetica, sans-serif;
  margin-left: 76px;
  color: #fff;
  background: #D4BEA3;
  padding: 17px 84px;
  text-decoration: none;
  border-radius: 48px;
  width: 12%;
}
 .main__button:hover {
   opacity: .5;
}
 .img {
   display: flex;
   align-items: center;
 }

 .img__picture_active {
   width: 225px !important;
   height: 300px !important;
 }

 .img__picture {
   width: 200px;
   height: 270px;
   background-repeat: no-repeat;
   background-size: contain;
 }

 .img__picture_first {
   background-image: url("./img/logo2.png");

 }

 .img__picture_second {
   background-image: url("./img/logo3.png");
   margin: 0 10px;

 }

 .img__picture_third {
   background-image: url("./img/logo4.png");

 }

 #menu__toggle {
   opacity: 0;
 }

 .menu__box {
   display: none
 }

 .hamburger-menu {
   display: none;
 }

 .menu__btn span {
   display: block;
   height: 5px;

   width: 30px;
   background-color: white;
   position: relative;
 }

 .menu__btn span::after,
 .menu__btn span::before {

   content: '';
   position: absolute;
   height: 2px;

   width: 30px;
   background-color: white;
 }

 .menu__btn span::after {
   top: -5px;
 }

 .menu__btn span::before {
   bottom: -5px;
 }

 @media (max-width: 768px) {
   .hamburger-menu {
     display: block;
   }

   .menu {
     display: none;
   }
 }

